<div class="pure-u-1-1">
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Start Date</th>
                <th>Package</th>
                <th>Active</th>
                <th>Feedback</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let subscription of subscriptions">
                <td>{{subscription.id}}</td>
                <td>{{subscription.email}}</td>
                <td>{{subscription.startDate | date }}</td>
                <td>{{subscription.package}}</td>
                <td>{{subscription.active}}</td>
                <td>{{subscription.feedback}}</td>
            </tr>
        </tbody>
    </table>
</div>