<div class="pure-u-1-1 Subscription-page">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                <input id="name" type="text" placeholder="Username">
            </div>
            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password">
            </div>
            <div class="pure-control-group">
                <label for="loginButton"></label>
                <button id="loginButton" type="submit" class="pure-button pure-button-primary">Login</button>
            </div>
        </fieldset>
    </form>
</div>