<fieldset>
    <div class="pure-u-1-1">
        <p style="text-align: center; color: red;">Incorrect email address: abc@gmail.com</p>
    </div>

    <div class="pure-control-group">
        <label for="name">Email</label>
        <input id="name" type="text" placeholder="Email" class="pure-input-1-2">
    </div>

    <div class="pure-control-group">
        <label for="unsubscribeReason">Reason</label>
        <textarea id="unsubscribeReason" class="pure-input-1-2" placeholder="I am unhappy with magazine :("></textarea>
    </div>

    <div class="pure-control-group">
        <label for="unsubscribeButton"></label>
        <button id="unsubscribeButton" type="submit" class="pure-button pure-button-primary">Unsubscribe</button>
    </div>

</fieldset>